body {
	padding: 0;
	margin: 0;
}

.center {
	text-align: center;
}

.center img {
	max-width: 100%;
}

#getMap {
	width: 200px;
	margin: 0 auto;
}

#getMap .ui-btn-inner {
	padding: 60px 0;
}

#superlink {
	display: block;
	text-align: center;
}

#link {
	font-size: 1.6em;
	font-style: bold;
	text-decoration: none;
}

#copybtn {
	text-align: right;
}

.mycontrol-share {
	margin-top: 30px;
}

img.logo {
	max-width: 100%;
	margin:0 auto 0 auto;
}

/* BIDOU CSS */



